@layer basic, theme, base, antd, components, utilities;

@import 'tailwindcss';

@layer basic {
  * {
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #bbb;
      border-radius: 9999px;
    }
  }

  html,
  body,
  .app {
    @apply relative m-0 h-full w-full p-0;
  }

  html {
    @apply overflow-auto;
  }

  body,
  .app {
    @apply min-h-150 min-w-100 overflow-hidden;
  }
}