@layer basic, theme, base, antd, components, utilities;

@import 'tailwindcss';

@layer basic {
  * {
    @apply overflow-hidden relative;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #bbb;
      border-radius: 9999px;
    }
  }

  html,
  body,
  .app {
    @apply m-0 w-full h-full p-0;
  }
}