@layer basic, theme, base, antd, components, utilities;

@import 'tailwindcss';

@layer basic {
  * {
    @apply overflow-hidden;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #bbb;
      border-radius: 9999px;
    }
  }

  html,
  body,
  .app {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }
}